<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" href="../../css/index.css">
	<script src="../../js/TouchSlide.1.1.js"></script>
	<script src="../../js/jquery.js"></script>
	<link rel="icon" href="">
</head>
<body>
	<div class="box">
		<header>
			<div>我是logo</div>
		    <div >
		    	<div class="search">
		    	  <a href="#" ></a></div>
		    	<div class="list">
		    	  <a href="#"></a>
		    	</div>
		    </div>
		</header>
	 <div class="search-in-box">
		    		<input type="text">
		    		<a href="#">搜索</a>
	</div>
      <div class="list-in-box">
			<ul>
				<li><a href="../../index.html">网站首页</a></li>
				<li><a href="../gongsijianjie_demo/gsjj.html">公司简介</a></li>
				<li><a href="../xinwenzhongxin_demo/xwzx.html">新闻中心</a></li>
				<li><a href="../chanpinzhanshi_demo/cpzs.html">产品展示</a></li>
				<li><a href="../gongsixiangce_demo/gsxc.html">公司相册</a></li>
				<li><a href="../zaixianliuyan_demo/zxly.html">在线留言</a></li>
				<li><a href="../lianxiwomen_demo/lxwm.html">联系我们</a></li>
			</ul>
		</div>
	</div>
 <div id="focus">
 	
  <div class="bd">
  	 <div class="wrap">
  	 	<ul>
  	 		<li><a href=""><img src="../../img/banner5.jpg" alt=""></a></li><li>
  	 		<a href=""><img src="../../img/banner3.jpg" alt=""></a></li><li>
  	 		<a href=""><img src="../../img/banner2.jpg" alt=""></a></li><li>
  	 		<a href=""><img src="../../img/banner2.jpg" alt=""></a></li>
  	 	</ul>
  	   <div class="hd">
 		  <ul></ul>
 	   </div>
   </div>
  </div>
 </div>
  <div class="con">
       <div class="con1">
			 <div class="title">
			   <h3><span>公司介绍</span><span>Commany</span></h3>
			 </div>
			 <div class="img"><img src="../../img/company-img1.jpg">
			 <div>
			 	<h4>某某有限公司</h4>
			 <p>    山东临网网络科技有限公司起始于2008年。公司总部设立于国家级经济技术开发区中印软件产业园（临沂云计算中心）。公司云集了一支专业、专注、高素质、高标准的互联网精英团队。我们以奉献网络科技而缩短人际沟通距离为目标，全心致力于企事业单位建站和电子商务的应用及推广，重塑企业高端网络形象，为企业产品推广文化发展提供全方位的服务和帮助。
          </p>
          <p>    山东临网网络科技有限公司起始于2008年。公司总部设立于国家级经济技术开发区中印软件产业园（临沂云计算中心）。公司云集了一支专业、专注、高素质、高标准的互联网精英团队。我们以奉献网络科技而缩短人际沟通距离为目标，全心致力于企事业单位建站和电子商务的应用及推广，重塑企业高端网络形象，为企业产品推广文化发展提供全方位的服务和帮助。
          </p>
          <p>
		     山东临网全方面为用户提供互联网技术支持及网络运营新模式，以独特的方式方法为企业量身制定最优模式，提高企业知名度和效益，实现企业与现代化经济同步发展的崭新形象。
		    山东临网拥有一支朝气蓬勃的团队，我们执着、敏锐、追求更好；通过自己的专业眼光，为客户提供各类解决方案，始终为客户思考如何占领互联网。 一个人能走多远，取决于与谁同行，山东临网团队是一个富有理想和激情的团队，也是一个技术专业化、管理人性化、创新型和学习型的优秀团队。
          </p>
		 </div>
	</div>
	<div class="con3">
		 <div class="title">
			   <h3><span>企业荣誉</span><span>Product</span></h3>
	     </div>
        <div id="focu2">
	        <div class="bd">
	        	<div class="wrap">
				   		<ul>
				   			<li><a href="#"><img src="../../img/owl1.jpg" alt=""></a></li>
				   			<li><a href="#"><img src="../../img/owl2.jpg" alt=""></a></li>
				   			<li><a href="#"><img src="../../img/owl3.jpg" alt=""></a></li>
				   			<li><a href="#"><img src="../../img/owl4.jpg" alt=""></a></li>
				   			<!-- <li><img src="img/owl5.jpg" alt=""></li> -->
				   			<li><a href="#"><img src="../../img/owl6.jpg" alt=""></a></li>
				   			<li><a href="#"><img src="../../img/owl7.jpg" alt=""></a></li>
				   			<li><a href="#"><img src="../../img/owl8.jpg" alt=""></a></li>
				   		</ul>
	   		<div class="hd">
	   			<ul></ul>
	   		</div>
	   	  </div>
	     </div>
	   </div>
	</div>
</div>
<footer>
   <ul class="foot_nav">
		    <li>友情链接：</li>
			<li><a href="#">临网汇商</a></li>
			<li>|</li>
			<li><a href="#">临网CMS</a></li>
			<li>|</li>
			<li><a href="#" class="none">山东临网</a></li>

   </ul>
   <p class="p1">xxxxxxxxxxx版权所有</p>
   <p>联系地址：山东省临沂市XXXXXXXXXXXXXXXX</p>
   <p>电话：13853945671</p>
   <p class="p2">Copyright © 2014-2017 山东临网 版权所有 Power by 山东临网</p>
</footer>
</body>
<script >
// 轮播
	  TouchSlide({
	slideCell: "#focus",
		titCell: ".hd ul", //开启自动分页
		 autoPage: true ,
		 // 此时设置 titCell 为导航元素包裹层
		mainCell: ".bd ul", 
		effect: "leftLoop", 
		autoPlay: true,//自动播放
		// autoPage: true, //自动分页
		titOnClassName:"on",
		// switchLoad: "_src" //切换加载，真实图片路径为"_src";
}); 
	    // 导航
  var num=0
  $(".box .list").click(function(){
  	 if(num==0){
  	 	$(".list-in-box").css("-webkit-transform","rotateY("+num+"deg)")
  	 	num=90
  	 }else{
  	 	$(".list-in-box").css("-webkit-transform","rotateY("+num+"deg)")
  	 	num=0
  	 }
  		
  })
  $(".box .search").click(function(){
  	$(".search-in-box").slideToggle()
  })
 
  // 轮播
   TouchSlide({
  	slideCell:"#focu2",
  	titCell:".hd ul",
  	autoPage:true,
  	mainCell:".wrap ul",
  	effect:"leftLoop",
  	autoPlay:true,
  	titOnClassName:"one"
  })
  $("#focu2 .hd ul>li").eq(0).addClass("one")
</script>
</html>