<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		
		<div class="carousel-inner about-bg" role="listbox">
			<div class="item active"> <img src="gywm_img/about.png">
				<div class="carousel-nav">
					<h1 class="pull-left">大事记</h1>
					<div class="nav nav-tabs pull-right nav-bg-dw" role="tablist">
						<li role="presentation">
							<a href="#aaa">公司简介</a>
						</li>
						<li role="presentation">
							<a href="#bbb">企业文化</a>
						</li>
						<li role="presentation" class="active">
							<a href="#ccc">大事记</a>
						</li>
						<li role="presentation">
							<a href="#ddd">资质&amp;荣誉</a>
						</li>
						<li role="presentation">
							<a href="#eee">合作伙伴</a>
						</li>
					</div>
				</div>
			</div>
		</div>
		
		
		
		<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <div class="row t-2">
      <div class="col-lg-12">
        <article class="process">
          <div class="process-holder">
            <div class="section"> <span class="num"> 1</span>
              <h3>2007年</h3>
              <p>2007年5月21日 北京车网互联科技有限公司成立，总部设于北京。</p>
            </div>
            <div class="section even"> <span class="num"> 2</span>
              <h3>2008年</h3>
              <p>北京车网互联科技有限公司携手中国移动合力打造汽车服务领域的一个全新品牌“车行无忧”。</p>
            </div>
            <div class="section"> <span class="num"> 3</span>
              <h3>2009年</h3>
              <p>北京车网互联科技有限公司与中国移动集团M2M中心合作完成iPND业务平台开发，实现了覆盖全国的TSP服务。</p>
            </div>
            <div class="section even"> <span class="num"> 4</span>
              <h3>2010年</h3>
              <p>“车行无忧”和iPND业务在广汽、东风等车厂项目中得到客户的广泛应用和认可。</p>
            </div>
            <div class="section"> <span class="num"> 5</span>
              <h3>2011年</h3>
              <p>北京车网互联科技有限公司推出车联网智能终端iPND3及车行无忧二代业务，CARSMART3.0正式上线。</p>
            </div>
            <div class="section even"> <span class="num"> 6</span>
              <h3>2012年</h3>
              <p>北京车网互联科技有限公司推出iOBD数据采集终端和行车管家客户端。</p>
            </div>
            <div class="section"> <span class="num"> 7</span>
              <h3>2013年</h3>
              <p>2013年10月，证监会审核通过车网互联与荣之联换股，北京车网互联科技有限公司成为公众上市公司。</p>
<p>2013年12月北京车网互联科技有限公司取得北斗民用分理服务资质。</p>
            </div>
            <div class="section even"> <span class="num"> 8</span>
              <h3>2014年</h3>
              <p>2014年8月北京车网互联科技有限公司推出乐乘盒子~智慧行车助手。</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

		
		

		
	</body>
</html>
