<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div class="carousel-inner about-bg" role="listbox">
			<div class="item active"> <img src="gywm_img/about.png">
				<div class="carousel-nav">
					<h1 class="pull-left">公司简介</h1>
					<div class="nav nav-tabs pull-right nav-bg-dw" role="tablist">
						<li role="presentation" class="active">
							<a href="#aaa">公司简介</a>
						</li>
						<li role="presentation">
							<a href="#bbb">企业文化</a>
						</li>
						<li role="presentation">
							<a href="#ccc">大事记</a>
						</li>
						<li role="presentation">
							<a href="#ddd">资质&amp;荣誉</a>
						</li>
						<li role="presentation">
							<a href="#eee">合作伙伴</a>
						</li>
					</div>
				</div>
			</div>
		</div>
			<div class="container">
				
		
		<div class="constant">
			<div class="col-md-10 col-md-offset-1">
				<div class="row">
					<div class="col-lg-12">
						<h3 class="text-center">关于车网互联</h3>
						<hr />
						<p style="line-height: 2em; font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;北京车网互联科技有限公司是一家以移动互联领域的多年积累和丰富的行业资源为
基础，以前沿的移动、定位、云计算、数据采集融合技术为工具的车载信息服务平台运营商，也是国内最早进入车联网领域的国家高新技术企业。经过多年的蓬勃发
展，已拥有多项发明专利和软件著作权，现已成为拥有丰富资源的车联网综合产品与服务运营商。</p>
						<br />
						<p style="line-height: 2em; font-size: 16px;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;北京车网互联科技有限公司聚合无线通讯、移动互联网、云计算等技术优势，将物 联网、位置服务和智能交通进行有效结合，为车辆信息服务（TSP）市场提供开放式服务平台和行业定制解决方案。通过与移动运营商和整车厂商的紧密合作，深 入挖掘用户需求，实现车联网产业链整合，集合行业资源，形成互利多赢的商业模式，共同打造开放、共享、可持续发展、具有自主标准和知识产权的车辆信息服务 平台，为城市交通、整车厂商、汽车后市场企业客户和个人用户，提供专业的软硬件产品和优越的车联网综合运营支撑平台服务。</p>
						<br />
						<p style="line-height: 2em; font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;北京车网互联科技有限公司以移动互联网技术创造用户新体验，以车联网技术服务 于智能交通，致力于打造智能交通新秩序，开创智慧人车生活新体验，为推动智能交通信息化产业的发展而不懈努力，引领和主导车联网产业的创新发展。</p>
						<br />
						<p style="line-height: 2em; font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2013年10月23日，中国证券监督管理委员会上市公司并购重组审核委员会，审核通过了车网互联与北京荣之联科技股份有限公司(股票代码：002642)的换股申请。这标志着北京车网互联科技有限公司成功完成了资本化进程中最关键的一步，成为公众上市公司中的一员。</p>
						<br /><br />
					
					</div>
				</div>
			</div>
		
		</div>
			</div>
		
		

	</body>

</html>