<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="carousel-inner about-bg" role="listbox">
			<div class="item active"> <img src="gywm_img/about.png">
				<div class="carousel-nav">
					<h1 class="pull-left">合作伙伴</h1>
					<div class="nav nav-tabs pull-right nav-bg-dw" role="tablist">
						<li role="presentation">
							<a href="#aaa">公司简介</a>
						</li>
						<li role="presentation">
							<a href="#bbb">企业文化</a>
						</li>
						<li role="presentation">
							<a href="#ccc">大事记</a>
						</li>
						<li role="presentation">
							<a href="#ddd">资质&amp;荣誉</a>
						</li>
						<li role="presentation" class="active">
							<a href="#eee">合作伙伴</a>
						</li>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<img src="gywm_img/cooperation.jpg"/>
		</div>
		
		
		
	</body>
</html>
