<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>

		<div class="carousel-inner about-bg" role="listbox" style="margin-bottom: 2em;">
			<div class="item active"> <img src="gywm_img/about.png">
				<div class="carousel-nav">
					<h1 class="pull-left">企业文化</h1>
					<div class="nav nav-tabs pull-right nav-bg-dw" role="tablist">
						<li role="presentation">
							<a href="#aaa">公司简介</a>
						</li>
						<li role="presentation" class="active">
							<a href="#bbb">企业文化</a>
						</li>
						<li role="presentation">
							<a href="#ccc">大事记</a>
						</li>
						<li role="presentation">
							<a href="#ddd">资质&amp;荣誉</a>
						</li>
						<li role="presentation">
							<a href="#eee">合作伙伴</a>
						</li>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="col-md-10 col-md-offset-1">
				<div class="row">
					<div class="col-lg-12 about">
						<h3 class="text-center">车网互联的核心品牌理念</h3>
						<hr />
						<h4>车网互联的使命</h4>
						<p>通过坚定不移的创新和发展，把车网互联建设在主营车联网行业有竞争力和领导地位的优秀企业，并实现股东价值和员工价值最大化。</p>
						<h4>车网互联的定位</h4>
						<p>车网互联是提供智能车辆管理服务的卓越企业</p>
						<h4>车网互联的企业精神 </h4>
						<p><b>诚信</b>：坚守诚信原则 重视个人操守 加强互信关系 巩固卓越商誉<br>
							<b>务实</b>：赏识务实态度 激励奋发精神 壮大企业根基 奠定领导地位<br>
							<b>专业</b>：整合丰富资源 荟萃各方精英 累积中外经验 提升专业水平<br>
							<b>团队</b>：尊重不同文化 包容各种观念 倡导平等沟通 发挥团队精神<br>
							<b>积极</b>：积极迎接挑战 勇于面对改变 主动学习新知 实现自我价值<br>
							<b>创新</b>：营造开放环境 鼓励创新思维 构思非凡意念 推动企业发展</p>
						<h4>车网互联的企业承诺</h4>
						<p><b>创新进取以人为本，不断改善人们的生活</b></p>
						<h4>车网互联的企业标语</h4>
						<p>中文广告语：<b>志于心 智于行</b><br> 英文广告语：
							<b>Aspired in ideal, Motivated in action</b></p>
						<h4>理念阐述：</h4>
						<ol>
							<li>表达了公司对物联网领域志在必得的决心及以智慧付诸实际的行动力；</li>
							<li>表达了在物联网领域，车网互联从消费者的心智出发，以智慧创新求变的精神创享智能新生活；</li>
							<li>“志”字所传递出的是公司发展的伟大志愿、宏伟理想、决心和勇气。更是专心致“志”的志；

								<li>“心”一方面指的是企业本身对于市场产品的雄心、对于消费者的诚心、对于员工的关心、对于业务的专心、对于公益事业的爱心、对于股东的衷心；</li>
								<li>“智”字号召全体车网互联人在行动中发挥智慧、讲究实效方法、体现创新能力；</li>
								<li>“行”字代表了行动为先、勇于创新、当仁不让、脚踏实地的工作作风；</li>
								<li>这六个字，浓缩了我们车网互联人多年来的智慧与汗水。</li>
								<li>智者，是指我公司经过多年的蛰伏，已成功攻克多重技术难关， 将无线通讯、移动互联网、云计算等技术应用在物联网上，打造出无与伦比的智能交通享受。</li>
								<li>行者，所谓千里之行始于足下，智能交通的生活伴随着车网互联用户的每一次出行，让用户感受到人车合一的前所未有畅快体验。让用户真真正正地做到随心出行。</li>
						</ol>
					</div>
				</div>
			</div>
		</div>

	</body>

</html>