<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div class="carousel-inner about-bg" role="listbox">
			<div class="item active"> <img src="gywm_img/about.png">
				<div class="carousel-nav">
					<h1 class="pull-left">资质&amp;荣誉</h1>
					<div class="nav nav-tabs pull-right nav-bg-dw" role="tablist">
						<li role="presentation">
							<a href="#aaa">公司简介</a>
						</li>
						<li role="presentation">
							<a href="#bbb">企业文化</a>
						</li>
						<li role="presentation">
							<a href="#ccc">大事记</a>
						</li>
						<li role="presentation" class="active">
							<a href="#ddd">资质&amp;荣誉</a>
						</li>
						<li role="presentation">
							<a href="#eee">合作伙伴</a>
						</li>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="col-md-10 col-md-offset-1">
				<div class="row t-2">
					<div class="col-lg-12">
						<h3 class="text-center">企业资质</h3>
						<hr />

						<div class="row honour">
							<div class="col-lg-3">
								<ul>
									<li>软件企业</li>
									<li>高新技术企业</li>
									<li>甲级测绘资质</li>
									<li>纳税信用A级企业</li>
									<li>北斗民用分理服务商</li>
								</ul>
							</div>
							<div class="col-lg-4">
								<ul>
									<li>IOS9000质量管理体系认证</li>
									<li>国家信息安全评测授权培训机构</li>
									<li>北京中关村企业信用促进会会员</li>
									<li>中国智慧城市产业联盟 副理事长单位</li>
									<li>中国北斗民用推广应用联盟 秘书长单位</li>
								</ul>
							</div>
							<div class="col-lg-5">
								<ul>
									<li>电信与信息服务业务经营许可证（ICP证书）</li>
									<li>物流城市联盟信息化推进工作委员会 秘书长单位</li>
									<li>中国车联网产业技术创新战略联盟 常务理事单位</li>
								</ul>
							</div>
						</div>
						<hr />
						<h3 class="text-center">企业荣誉</h3>
						<hr />
						<div class="row text-center">
							<div class="col-xs-6 col-md-3">
								<div class="thumbnail">
									<img src="gywm_img/03.jpg" />
								</div>
								<div class="caption">
									<p>电信与信息服务业务经营许可证（ICP证书）</p>
								</div>
							</div>
							<div class="col-xs-6 col-md-3">
								<div class="thumbnail">
									<img src="gywm_img/06.jpg" />
								</div>
								<div class="caption">
									<p>质量管理体系认证证书（中文）</p>
								</div>
							</div>
							<div class="col-xs-6 col-md-3">
								<div class="thumbnail">
									<img src="gywm_img/07.jpg" />
								</div>
								<div class="caption">
									<p>国家信息安全测评授权培训机构资质证书（2014）</p>
								</div>
							</div>
							<div class="col-xs-6 col-md-3">
								<div class="thumbnail">
									<img src="gywm_img/11.jpg" />
								</div>
								<div class="caption">
									<p>关于北斗民用分理服务试验资质的批复</p>
								</div>
							</div>
						</div>
						<hr />
						<div class="row text-center">
							<div class="col-xs-6 col-md-3">
								<div class="thumbnail">
									<img src="gywm_img/05.jpg" />
								</div>
								<div class="caption">
									<p>中国北斗民用推广应用联盟</p>
								</div>
							</div>
							<div class="col-xs-6 col-md-3">
								<div class="thumbnail">
									<img src="gywm_img/10.jpg" />
								</div>
								<div class="caption">
									<p>车网互联中关村信用促进会会员	 </p>
								</div>
							</div>
							<div class="col-xs-6 col-md-3">
								<div class="thumbnail">
									<img src="gywm_img/04.jpg" />
								</div>
								<div class="caption">
									<p>测绘资质证书</p>
								</div>
							</div>
							<div class="col-xs-6 col-md-3">
								<div class="thumbnail">
									<img src="gywm_img/08.jpg" />
								</div>
								<div class="caption">
									<p>中国智慧城市产业联盟-副理事长单位证书</p>
								</div>
							</div>
						</div>
						
						<hr />
						<div class="row text-center">
							<div class="col-xs-6 col-md-3">
								<div class="thumbnail">
									<img src="gywm_img/01.jpg" />
								</div>
								<div class="caption">
									<p>高新技术企业证书（复审）</p>
								</div>
							</div>
							<div class="col-xs-6 col-md-3">
								<div class="thumbnail">
									<img src="gywm_img/02.jpg" />
								</div>
								<div class="caption">
									<p>软件企业证书-正本	 </p>
								</div>
							</div>
						</div>
						
						<br /><br />
						
					</div>
				</div>
			</div>
		</div>
	</body>

</html>