<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="container news">
			<h3>临沂市硬笔书法家协会动态</h3>
			 <p>临沂市硬笔书法家协会是由临沂市专业书法家、硬笔书法家、硬笔书法理论研究、教育工作者和有一定专业水平、成绩显著的业余工作者组成，是为振兴临沂市硬笔书法事业自愿结成的非营利性、学术性社会组织。协会以马列主义、毛泽东思想、邓小平理论、三个代表重要思想和科学发展观为指导，坚持“二为方向”和“双百方针”，弘扬主旋律，提倡多样化，团结广大会员，推广硬笔书法艺术，提高硬笔书法水平，创作优秀作品为目的，为繁荣文化事业，促进经济发展、社会和谐做出积极贡献。</p>
   <span class="sp1">协会宗旨：</span>
        <p>弘扬中华民族优秀文化传统，践行大书法理念，提高全社会文字书写水準，发展和繁荣硬笔书法艺术创作，增进文化艺术交流，振兴发展硬笔书法文化事业。做堂堂正正中国人，写漂漂亮亮中国字。让亿万人写好汉字、提高汉字书写水準；提高硬笔书法艺术创作水準。倡导“大书法”（书法、硬笔书法、篆刻、刻字）理念，传承中华民族传统文化，为推动社会主义文化大发展、大繁荣而开展工作。</p>

		</div>
	</body>
</html>
