<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="container news">
    	<h3>主席团成员</h3>
        <h4>第一届（1986-1989）</h4>
        <p>顾  问：崔祝生 张寿民 任英民</p>
        <p>副主席：岳修五 冯文镐 惠玉昆 高庆荣 孙多全</p>
        <p>秘书长：赵庆元</p>
        <p>副秘书长：徐敏生 杨广森 龙 岩</p>
        <h4>第二届（1989-1999）</h4>
        <p>主    席：赵庆元</p>
        <p>副 主席：冯文镐 惠玉昆 高庆荣 孙多全 杨广森 龙 岩 王玉宽 刘茂辰 刘光亭</p>
        <p>秘 书 长：龙 岩（兼）</p>
        <h4>第三届（1999-2010）</h4>
        <p>名誉主席：连承敏 张洪涛 李福崇 姜伯超 赵庆元 孙树臻</p>
        <p>顾    问：冯文镐 惠玉昆 高庆荣 孙多全 刘光亭 高冠军</p>
		<p>特邀顾问：张怀连 刘 勤 徐向军</p>
        <p>主      席：龙  岩</p>
        <p>副 主 席：杨广森 孙培先 徐敏生 姚东升 徐建民 刘大海</p>
        <p>秘 书 长：吕玉光</p>
        <p>副秘书长：张剑光 徐铁田 赵凤砚 高荣华 崔维海 张 磊</p>
        <h4>第四届（2010-）</h4>
        <p>主     席：龙   岩</p>
        <p>副 主 席：姚东升 刘大海 吕玉光 卜庆中 赵凤砚  张  磊 王玉民 杨少涛 张荣磊虞 燕（女）</p>
        <p>秘 书 长：张荣磊（兼）</p>
    </div>

	</body>
</html>
