<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		
		<div class="nav">
			<div id="active"><a href="#aaa">格力空调</a></div>
			<div><a href="#bbb">生活电器</a></div>
			<div><a href="#ccc">格力手机</a></div>
		</div>
		
		<div class="box">
			<div><img src="img/p-img1.jpg"/><br /><span>变频节能仪</span><p>￥2000</p></div>
			<div><img src="img/p-img2.jpg"/><br /><span>变频节能仪</span><p>￥2000</p></div>
		</div>
		<div class="box">
			<div><img src="img/p-img1.jpg"/><br /><span>变频节能仪</span><p>￥2000</p></div>
			<div><img src="img/p-img1.jpg"/><br /><span>变频节能仪</span><p>￥2000</p></div>
		</div>
		
		
		<ul class="pagination pagination-sm">
			<li>
				<a href="#">&laquo;</a>
			</li>
			<li>
				<a href="#">1</a>
			</li>
			<li>
				<a href="#">2</a>
			</li>
			<li>
				<a href="#">3</a>
			</li>
			<li>
				<a href="#">4</a>
			</li>
			<li>
				<a href="#">5</a>
			</li>
			<li>
				<a href="#">&raquo;</a>
			</li>
			<li>
				<a href="#">上一页</a>
			</li>
			<li>
				<a href="#">下一页</a>
			</li>
			<li>
				<a href="#">尾页</a>
			</li>

		</ul>
		
	</body>
</html>
