<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img src="news_img/newsbg.jpg">
				<div class="carousel-nav">
					<h1 class="pull-left">公司动态</h1>
					<div class="nav nav-tabs pull-right nav-bg-dw" role="tablist">
						<li role="presentation" class="active">
							<a href="#aaa">公司动态</a>
						</li>
						<li role="presentation">
							<a href="#bbb">员工天地</a>
						</li>
						<li role="presentation">
							<a href="#ccc">专题报道</a>
						</li>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="col-md-10 col-md-offset-1">
				<div class="row t-3">
					<div class="col-lg-12">
						<h4><a href="#">捷报|车网互联荣担中国保信车联网数据保险应用研究项目测算组顾问单位</a></h4>
						<p>......</p>
						<h4><small><i class="glyphicon glyphicon-calendar"></i>2017-06-02</small></h4>
						<hr />
						<h4><a href="#">车网互联亮相物联网创业联盟大会，实力强大引关注</a></h4>
						<p>......</p>
						<h4><small><i class="glyphicon glyphicon-calendar"></i>2017-06-02</small></h4>
						<hr />
						<h4><a href="#">捷报丨车网互联荣获 “年度车联网最佳企业奖”</a></h4>
						<p>......</p>
						<h4><small><i class="glyphicon glyphicon-calendar"></i>2017-06-02</small></h4>
						<hr />
						<h4><a href="#">捷报 | 车网互联荣获车联网大会“最佳解决方案商”大奖</a></h4>
						<p>......</p>
						<h4><small><i class="glyphicon glyphicon-calendar"></i>2017-06-02</small></h4>
						<hr />
						<h4><a href="#">重磅 | 车网互联发力新能源汽车，顺利通过国标检测</a></h4>
						<p>......</p>
						<h4><small><i class="glyphicon glyphicon-calendar"></i>2017-06-02</small></h4>
						<hr />
						<h4><a href="#">捷报 | 车网互联正式成为「北斗卫星导航民用服务资质单位」</a></h4>
						<p>......</p>
						<h4><small><i class="glyphicon glyphicon-calendar"></i>2017-06-02</small></h4>
						<hr />
						<h4><a href="#">捷报 | 车网互联受邀会见马来西亚皇家警察总署，深化国际交流合作</a></h4>
						<p>......</p>
						<h4><small><i class="glyphicon glyphicon-calendar"></i>2017-06-02</small></h4>
						<hr />
						
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-lg-3 pull-right">
					<ul class="pagination">
			<li>
				<a href="#">&laquo;</a>
			</li>
			<li>
				<a href="#">1</a>
			</li>
			<li>
				<a href="#">2</a>
			</li>
			<li>
				<a href="#">3</a>
			</li>
			<li>
				<a href="#">4</a>
			</li>
			<li>
				<a href="#">5</a>
			</li>
			<li>
				<a href="#">&raquo;</a>
			</li>
		</ul>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="container text-center">

				<div class="col-lg-6">北京车网互联科技有限公司广州分公司 版权所有
					<a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备14046473号</a>
				</div>
				<div class="col-lg-6">
					<a href="http://autofun.carsmart.cn/about.html" data-toggle="modal" data-target="#myModal">关于我们</a>
					<a href="http://autofun.carsmart.cn/cont.html" data-toggle="modal" data-target="#myModal">联系我们</a>
					<a href="http://autofun.carsmart.cn/merchants.html" target="_blank">招商合作</a>
					<a href="http://autofun.carsmart.cn/law.html" data-toggle="modal" data-target="#myModal">法律声明</a>
					<a href="http://e.weibo.com/che08" target="_blank">官方微博</a>
				</div>
			</div>
		</footer>
		<footer class="footer-floor">
			<div class="container text-center">
				<p>Copyright © 2014 Beijing Carsmart Technology Co., Ltd. </p>
			</div>
		</footer>
	</body>

</html>