<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="carousel-inner">
				<div class="item active">
					<img src="news_img/newsbg.jpg">
					<div class="carousel-nav">
						<h1 class="pull-left">员工天地</h1>
						<div class="nav nav-tabs pull-right nav-bg-dw" role="tablist">
							<li role="presentation">
								<a href="#aaa">公司动态</a>
							</li>
							<li role="presentation"  class="active">
								<a href="#bbb">员工天地</a>
							</li>
							<li role="presentation">
								<a href="#ccc">专题报道</a>
							</li>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
			<div class="col-md-10 col-md-offset-1">
				<div class="row t-3">
					<div class="col-lg-12">
						<h4><a href="#">2016车网互联总裁致全体员工的一封信</a></h4>
						<p>......</p>
						<h4><small><i class="glyphicon glyphicon-calendar"></i>2017-06-02</small></h4>
						<hr />
						<h4><a href="#">【年度巨献】车网互联爆笑节目视频《“缘”来如此》，绝对让你好看！</a></h4>
						<p>......</p>
						<h4><small><i class="glyphicon glyphicon-calendar"></i>2017-06-02</small></h4>
						<hr />
						<h4><a href="#">车网互联&middot;年度大趴，好似冬天里的一把火！</a></h4>
						<p>......</p>
						<h4><small><i class="glyphicon glyphicon-calendar"></i>2017-06-02</small></h4>
						<hr />
						<h4><a href="#">2015车网互联涂鸦大赛~投票评选ing</a></h4>
						<p>......</p>
						<h4><small><i class="glyphicon glyphicon-calendar"></i>2017-06-02</small></h4>
						<hr />
						<h4><a href="#">【2015车网好照片摄影大赛】人气奖获奖结果揭晓啦~！</a></h4>
						<p>......</p>
						<h4><small><i class="glyphicon glyphicon-calendar"></i>2017-06-02</small></h4>
						<hr />
						<h4><a href="#">【全靠你中奖】《2015车网好照片》人气奖投票～开始啦</a></h4>
						<p>......</p>
						<h4><small><i class="glyphicon glyphicon-calendar"></i>2017-06-02</small></h4>
						<hr />
						<h4><a href="#">《智行者》原创 | 从O2O到物联网，互联网时代唯核心价值才是真</a></h4>
						<p>......</p>
						<h4><small><i class="glyphicon glyphicon-calendar"></i>2017-06-02</small></h4>
						<hr />
						
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-lg-3 pull-right">
					<ul class="pagination">
			<li>
				<a href="#">&laquo;</a>
			</li>
			<li>
				<a href="#">1</a>
			</li>
			<li>
				<a href="#">2</a>
			</li>
			<li>
				<a href="#">3</a>
			</li>
			<li>
				<a href="#">4</a>
			</li>
			<li>
				<a href="#">5</a>
			</li>
			<li>
				<a href="#">&raquo;</a>
			</li>
		</ul>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="container text-center">

				<div class="col-lg-6">北京车网互联科技有限公司广州分公司 版权所有
					<a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备14046473号</a>
				</div>
				<div class="col-lg-6">
					<a href="http://autofun.carsmart.cn/about.html" data-toggle="modal" data-target="#myModal">关于我们</a>
					<a href="http://autofun.carsmart.cn/cont.html" data-toggle="modal" data-target="#myModal">联系我们</a>
					<a href="http://autofun.carsmart.cn/merchants.html" target="_blank">招商合作</a>
					<a href="http://autofun.carsmart.cn/law.html" data-toggle="modal" data-target="#myModal">法律声明</a>
					<a href="http://e.weibo.com/che08" target="_blank">官方微博</a>
				</div>
			</div>
		</footer>
		<footer class="footer-floor">
			<div class="container text-center">
				<p>Copyright © 2014 Beijing Carsmart Technology Co., Ltd. </p>
			</div>
		</footer>
	</body>
</html>
