<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="carousel-inner">
				<div class="item active">
					<img src="news_img/newsbg.jpg">
					<div class="carousel-nav">
						<h1 class="pull-left">专题报道</h1>
						<div class="nav nav-tabs pull-right nav-bg-dw" role="tablist">
							<li role="presentation">
								<a href="#aaa">公司动态</a>
							</li>
							<li role="presentation">
								<a href="#bbb">员工天地</a>
							</li>
							<li role="presentation"  class="active">
								<a href="#ccc">专题报道</a>
							</li>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
			<div class="col-md-10 col-md-offset-1">
				<div class="row t-3">
					<div class="col-lg-12">
						<h4><a href="#">车网互联董事长/总裁张春辉先生入围2016《互联网周刊》年度人物候选</a></h4>
						<p>......</p>
						<h4><small><i class="glyphicon glyphicon-calendar"></i>2017-06-02</small></h4>
						<hr />
						<h4><a href="#">车网互联董事长兼总裁张春辉受邀参加第八届世界华人经济峰会</a></h4>
						<p>......</p>
						<h4><small><i class="glyphicon glyphicon-calendar"></i>2017-06-02</small></h4>
						<hr />
						<h4><a href="#">特别报道丨车网互联董事长兼总裁张春辉受加拿大商务部驻港机构邀请，参加加拿大总理商务宴会</a></h4>
						<p>......</p>
						<h4><small><i class="glyphicon glyphicon-calendar"></i>2017-06-02</small></h4>
						<hr />
						<h4><a href="#">创新铸造辉煌丨车网互联董事长/总裁张春辉荣获“广东省网络文化行业领军人物”大奖</a></h4>
						<p>......</p>
						<h4><small><i class="glyphicon glyphicon-calendar"></i>2017-06-02</small></h4>
						<hr />
						<h4><a href="#">【专题展会】车网互联助力网络安全周，领跑车联网安全科技创新</a></h4>
						<p>......</p>
						<h4><small><i class="glyphicon glyphicon-calendar"></i>2017-06-02</small></h4>
						<hr />
						<h4><a href="#">【专题展会】乐乘盒子亮相工商银行西单智能银行</a></h4>
						<p>......</p>
						<h4><small><i class="glyphicon glyphicon-calendar"></i>2017-06-02</small></h4>
						<hr />
						<h4><a href="#">【专题展会】#云存荣耀 车联无限#车网互联携旗下产品亮相惠普大数据论坛World Tour 2015</a></h4>
						<p>......</p>
						<h4><small><i class="glyphicon glyphicon-calendar"></i>2017-06-02</small></h4>
						<hr />
						
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-lg-3 pull-right">
					<ul class="pagination">
			<li>
				<a href="#">&laquo;</a>
			</li>
			<li>
				<a href="#">1</a>
			</li>
			<li>
				<a href="#">2</a>
			</li>
			<li>
				<a href="#">3</a>
			</li>
			<li>
				<a href="#">4</a>
			</li>
			<li>
				<a href="#">5</a>
			</li>
			<li>
				<a href="#">&raquo;</a>
			</li>
		</ul>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="container text-center">

				<div class="col-lg-6">北京车网互联科技有限公司广州分公司 版权所有
					<a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备14046473号</a>
				</div>
				<div class="col-lg-6">
					<a href="http://autofun.carsmart.cn/about.html" data-toggle="modal" data-target="#myModal">关于我们</a>
					<a href="http://autofun.carsmart.cn/cont.html" data-toggle="modal" data-target="#myModal">联系我们</a>
					<a href="http://autofun.carsmart.cn/merchants.html" target="_blank">招商合作</a>
					<a href="http://autofun.carsmart.cn/law.html" data-toggle="modal" data-target="#myModal">法律声明</a>
					<a href="http://e.weibo.com/che08" target="_blank">官方微博</a>
				</div>
			</div>
		</footer>
		<footer class="footer-floor">
			<div class="container text-center">
				<p>Copyright © 2014 Beijing Carsmart Technology Co., Ltd. </p>
			</div>
		</footer>
	</body>
</html>
