<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		
		<div class="nav">
			<div><a href="#aaa">格力空调</a></div>
			<div><a href="#bbb">生活电器</a></div>
			<div id="active"><a href="#ccc">格力手机</a></div>
		</div>
		<div class="box">
			<div class="time">9
				<span>2106-12</span></div>
			<div class="news">
				李克强上海召开深化简政放权改革座谈会
				<p>
					11月21日，中共中央政治局常委、国务院总理李克强在上海主持召开深化简政放权放管结合优化服务改革座谈会，研究部署相关工作。来自东、中、西、东北地区11个省份或地级市政府负责人参加。
					<a href="#">【详情】</a>
				</p>

			</div>
		</div>
		<div class="box">
			<div class="time">9
				<span>2106-12</span></div>
			<div class="news">
				李克强上海召开深化简政放权改革座谈会
				<p>
					11月21日，中共中央政治局常委、国务院总理李克强在上海主持召开深化简政放权放管结合优化服务改革座谈会，研究部署相关工作。来自东、中、西、东北地区11个省份或地级市政府负责人参加。
					<a href="#">【详情】</a>
				</p>

			</div>
		</div>
		<div class="box">
			<div class="time">9
			<span>2106-12</span></div>
			<div class="news">
				李克强上海召开深化简政放权改革座谈会
				<p>
					11月21日，中共中央政治局常委、国务院总理李克强在上海主持召开深化简政放权放管结合优化服务改革座谈会，研究部署相关工作。来自东、中、西、东北地区11个省份或地级市政府负责人参加。
					<a href="#">【详情】</a>
				</p>

			</div>
		</div>
		<div class="box">
			<div class="time">9
				<span>2106-12</span></div>
			<div class="news">
				李克强上海召开深化简政放权改革座谈会
				<p>
					11月21日，中共中央政治局常委、国务院总理李克强在上海主持召开深化简政放权放管结合优化服务改革座谈会，研究部署相关工作。来自东、中、西、东北地区11个省份或地级市政府负责人参加。
					<a href="#">【详情】</a>
				</p>

			</div>
		</div>
		<div class="box">
			<div class="time">9
				<span>2106-12</span></div>
			<div class="news">
				李克强上海召开深化简政放权改革座谈会
				<p>
					11月21日，中共中央政治局常委、国务院总理李克强在上海主持召开深化简政放权放管结合优化服务改革座谈会，研究部署相关工作。来自东、中、西、东北地区11个省份或地级市政府负责人参加。
					<a href="#">【详情】</a>
				</p>

			</div>
		</div>
		<ul class="pagination pagination-sm">
			<li>
				<a href="#">&laquo;</a>
			</li>
			<li>
				<a href="#">1</a>
			</li>
			<li>
				<a href="#">2</a>
			</li>
			<li>
				<a href="#">3</a>
			</li>
			<li>
				<a href="#">4</a>
			</li>
			<li>
				<a href="#">5</a>
			</li>
			<li>
				<a href="#">&raquo;</a>
			</li>
			<li>
				<a href="#">上一页</a>
			</li>
			<li>
				<a href="#">下一页</a>
			</li>
			<li>
				<a href="#">尾页</a>
			</li>

		</ul>

		
	</body>

</html>