*{
	padding: 0px;
	margin:0px;
	list-style: none;
}
body{
	height:100%;
}

header{
	width:100%;
	background-image:url(../img/header_01.jpg);
    background-size: cover;
    box-sizing:border-box;	
    display: flex;
    justify-content:space-between;
    padding:1rem 0px;
    align-items:center;
    &>div:nth-of-type(2){
        text-align: center;
        margin:0 10%;
        img{
        	width:100%;
        }
    }
    &>div:last-child{
    	margin-right:1rem;
    }
}
.on{
   background:#E6E2DA;
   box-shadow:0px 0px 3px grey;
}
.picScroll{
	position: relative;
	.bd{
		img{
			width:100%;
		}
	}
	.hd{
       ul{
       	  position: absolute;
       	  top:30%;
       	  right:0px;
       	 li{
       	 width:1rem;
       	 height:1rem;
       	 text-align: center;
       	 line-height:1rem;
       	 border-radius:50%;
       	 margin:1rem;
       	 color:rgba(0,0,0,0);
       	 }
       }
  	}
}
.nav{
	display: flex;
	justify-content:space-around;
	width:100%;
	box-sizing:border-box;
	padding:1rem;
    background-image: url(../img/fast_nav.jpg);
    background-size: cover;
    li{
    	margin:0 5%;
    	img{
    		width:100%;
    	}
    	p{
		    font: 1rem/.5rem 'Microsoft YaHei';
		    color: #000;
		    text-align: center;
		    margin-top: 0.3rem;
		    white-space: nowrap;
    	}
    	a{
    		text-decoration: none;
    	}
    }
}
.title{
    font-family: 'Microsoft YaHei';
    width:100%;
    position: relative;
    h3{
    	position: absolute;
    	left: 50%;
	    top:0.68rem;
	    margin-left: -2rem;
    	hr{
    		margin-top:.3rem;
    		border-weight:2px;
    		border-color:#d2aa0b;
    	}
    }
    height:3.5rem;
}
.picScroll_2{
	width: 100%;
    background-image: url(../img/fast_nav.jpg);
    background-size:100%;
    padding:1rem 0;
    position: relative;
    height:15rem;
   .bd{
   	   width:90%;
   	    height:15rem;
   	   margin:0 5%;
   	   img{
   	   	height:15rem;
   	   	width:100%;
   	   }
   }
    ul{
       	 position: absolute;
       	  top:30%;
       	  right:0px;
       	 li{
       	 width:1rem;
       	 height:1rem;
       	 text-align: center;
       	 line-height:1rem;
       	 border-radius:50%;
       	 margin:1rem;
       	 color:rgba(0,0,0,0);
       	 }
       }
}
.btn_more{
		    width: 3rem;
		    height: 1rem;
		    display: block;
		    margin: 1rem auto;
		    border: 1px solid #ad8a73;
		    border-radius: 0.25rem;
		    background-color: #fff;
		    font: 0.24rem/1rem 'Microsoft YaHei';
		    color: #333;
		    text-align: center;
		    text-decoration: none;	   
		    padding:.5rem; 
	}
.con{
 background-image: url(../img/fast_nav.jpg);
 padding:.5rem;
 hr{
 	margin:.5rem 0 1rem 0px;
 }
	ul{
	width:90%;
	margin:0 auto;
	li{
		position: relative;
		overflow: hidden;
		// font: 0.26rem/0.49rem 'Microsoft YaHei';
	    color: #333;
	    border-bottom: 1px dashed #a6937c;
	    a{
	        font: 1rem/2rem 'Microsoft YaHei';
	       overflow: hidden;
	        white-space: nowrap;
	       text-overflow: ellipsis;
	    	text-decoration: none;
	    	float: left;
	    	width:60%;
	       color: #000;
	    }
	    span{
	    	 font: 0.4rem/1.4rem 'Microsoft YaHei';
	    	float: right;
	    }
	  }
	}
}

.con2{
   background-image: url(../img/fast_nav.jpg);
   padding:1rem 0px;
  .swiper-container{
  	z-index:1;
  	width:90%;
  	margin:0 auto;
  	height:10rem;
  }
   .swiper-slide{
   	z-index:-110;
   	   width:100%;
   	   height:10rem;
   		 	img{
   		   width:100%;
   		   height:100%;
   		   // height:10rem;
   		    	z-index:-120;
     	}
  
   }

}
@keyframes aaa{
	0%{
		 left:0;
		 top: 0;
		 right:0px;
		 bottom:0px;
	}
	100%{
		left:.5px;
		 top: 1px;
		 right:1px;
		 bottom:.5px;
	}
}
.con3 .content{
	   background-image: url(../img/fast_nav.jpg);
	   padding-bottom:.5rem;
	  ul{
	  	display: flex;
	  	flex-wrap:wrap;
	  	li{
           width:30%;
	  		text-align: center;
	  		margin:1%;
	  		flex-grow:1;
	  		border:1px solid rgba(4,4,4,.3);
	  		padding:.3rem;
            background:#fff;
	  		img{
	  			position: relative;
	  			width:100%;
	  			animation:aaa .1s infinite;
	  		}
	  	}
	  }
}
.on{
transition:all 3s;
}
footer{
	overflow: hidden;
	width:100%;
	box-sizing:border-box;
	background-image: url(../img/fast_nav.jpg);
	padding:.5rem;
	// box-sizing:border-box;
   ul{
   	width:200%;
   	display: flex;
   	
   	li{
   		text-align: center;
   		width:33%;
   		margin:0 1rem;
   		img{
   			width:100%;
   		}
   	}
   }
}
.footer{
	margin-top:1rem;
	 width: 100%;
    background-image: url(../img/fast_nav.jpg);
    padding:1rem 0 2rem 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
    font: 0.24rem/1rem 'Microsoft YaHei';
    color: #000;
}
#menu{
	display: none;
	width:100%;
	position:fixed;
	top: 0px;
	z-index:999;
   line-height:2.4rem;
	height:100%;
   background:rgba(0,0,0,.4);
   .list{
   	position: fixed;
   	width:100%;
   	z-index:999;
   	height:6rem;

   }
   &>ul{ 

   	    width:100%;
   	    text-align: center;
   	    padding:1rem;
   	    margin-top:6rem;
   	    z-index:999;
   	  	background-image: url(../img/fast_nav.jpg);
   	  	a{
   	  		text-decoration: none;
   	  		font:500   .6rem  'Microsoft YaHei';
   	  		color:black;
   	  	}
   	  	&>li{
   	  	   width:30%;
   	  	   position: relative;
   	  	   margin:0 auto;
   	  	   >ul{
   	  	   	padding-top:1rem;
   	  	   	display: none;
   	  	    text-align:right;
   	  	    
   	  	     font: 500  .5rem  'Microsoft YaHei';
   	  	      line-height:2.4rem;
   	  	   }
   	  	}
   	  	.menu1 span{
   	  		position: absolute;
   	  		right:-60%;

   	  		display: inline-block;
   	  		transform:rotate(180deg) 
   	  	}

   }
}