<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="fc_css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="fc_css/new_file.css" />
		<script src="fc_js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="fc_js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="banner">

			<!--大banner-->
			<div class="col-lg-5 col-xs-6">
				<img src="fc_img/fccp.png" class="img-responsive img-center"  />
			</div>
			<div class="col-lg-7 col-xs-6">
				<a href="#"><img src="fc_img/fc.png" class="img-responsive" /></a>
				<div class="fc-indent">
					<a href="#" class="btn btn-xzpg"></a>
					<a href="#" class="btn btn-xzaz"></a>
				</div>
			</div>
		</div>

		<div class="container top-40">
			<div class="row">
				<div class="col-lg-3 col-xs-6 text-center">
					<img src="fc_img/icon-001.png" class="img-circle" />
					<h3>视频定位</h3>
					<h3><small>保存拍摄时GPS信息</small></h3>
				</div>
				<div class="col-lg-3 col-xs-6 text-center">
					<img src="fc_img/icon-002.png" class="img-circle" />
					<h3>视频定位</h3>
					<h3><small>保存拍摄时GPS信息</small></h3>
				</div>
				<div class="col-lg-3 col-xs-6 text-center">
					<img src="fc_img/icon-003.png" class="img-circle" />
					<h3>视频定位</h3>
					<h3><small>保存拍摄时GPS信息</small></h3>
				</div>
				<div class="col-lg-3 col-xs-6 text-center">
					<img src="fc_img/icon-004.png" class="img-circle" />
					<h3>视频定位</h3>
					<h3><small>保存拍摄时GPS信息</small></h3>
				</div>
			</div>
		</div>

		<div class="qf">
			<div class="container">
				<div class="col-lg-4 col-xs-4"><img src="fc_img/fcxk.png" class="img-responsive fc-img01" /></div>
				<div class="col-lg-4 col-lg-5 pull-right fc-js">
					<div class="media">
						<img src="fc_img/fc-01.png" class="pull-left" />
						<h4 class="media-heading">碰撞锁定</h4>
					</div>
					<div class="media">
						<img src="fc_img/fc-02.png" class="pull-left" />
						<h4 class="media-heading">碰撞锁定</h4>
					</div>
					<div class="media">
						<img src="fc_img/fc-03.png" class="pull-left" />
						<h4 class="media-heading">碰撞锁定</h4>
					</div>
					<div class="media">
						<img src="fc_img/fc-04.png" class="pull-left" />
						<h4 class="media-heading">碰撞锁定</h4>
					</div>
					<div class="media">
						<img src="fc_img/fc-05.png" class="pull-left" />
						<h4 class="media-heading">碰撞锁定</h4>
					</div>
				</div>
			</div>
		</div>

		<div class="container top-40">
			<div class="row">
				<div class="col-lg-4 col-xs-12 text-center">
					<img src="fc_img/main01.png" class="img-responsive fc-img01" />
					<h4>将记录仪上视频下载到手机</h4>
				</div>
				<div class="col-lg-4 col-xs-12 text-center">
					<img src="fc_img/main02.png" class="img-responsive fc-img01" />
					<h4>将记录仪上视频下载到手机</h4>
				</div>
				<div class="col-lg-4 col-xs-12 text-center">
					<img src="fc_img/main03.png" class="img-responsive fc-img01" />
					<h4>将记录仪上视频下载到手机</h4>
				</div>
			</div>
		</div>

		<div class="fccs">
			<div class="container text-center">
				<h2>硬件配置</h2>
				<table class="table table-condensed top-40">
					<tbody>
						<tr>
							<td>处理器 </td>
							<td>ARM Cortex-A8</td>
						</tr>
						<tr>
							<td>内存 </td>
							<td>512MB</td>
						</tr>
						<tr>
							<td>闪&nbsp;存 </td>
							<td>内置8G</td>
						</tr>
						<tr>
							<td>扩展存储 </td>
							<td>TF存储开、最高32GB</td>
						</tr>
						<tr>
							<td>LCD屏幕 </td>
							<td>2.4寸，分辨率320x240</td>
						</tr>
						<tr>
							<td>触摸屏 </td>
							<td>可选 </td>
						</tr>
						<tr>
							<td>Wi-Fi </td>
							<td>支持Wi-Fi直连 </td>
						</tr>
						<tr>
							<td>GPS </td>
							<td>支持 </td>
						</tr>
						<tr>
							<td>G-SENSOR </td>
							<td>碰撞检测 </td>
						</tr>
						<tr>
							<td>摄像头 </td>
							<td>120度广角，720P以上 </td>
						</tr>
						<tr>
							<td>光线感应 </td>
							<td>需根据外部光线调整拍摄效果 </td>
						</tr>
						<tr>
							<td>音频外放 </td>
							<td>内置喇叭，功率1W阻抗8欧 </td>
						</tr>
						<tr>
							<td>充电电池 </td>
							<td>450MHA锂电 </td>
						</tr>
						<tr>
							<td>操作系统 </td>
							<td>Android4.0 </td>
						</tr>
						<tr>
							<td>工作温度 </td>
							<td>-20°C到60°C</td>
						</tr>
						<tr>
							<td>存储温度 </td>
							<td>-30°C到85°C</td>
						</tr>
						<tr>
							<td>适配机型 </td>
							<td>装有IOS、Android操作系统的可通讯移动终端 </td>
						</tr>
						<tr>
							<td>配套软件 </td>
							<td>纷乘手机客户端软件（IOS和Android版可选） </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>


		<!--页脚-->
			<footer class="footer">
				<div class="container text-center">
					<div class="col-lg-6">北京车网互联科技有限公司广州分公司 版权所有
						<a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备14046473号</a>
					</div>
					<div class="col-lg-6">
						<a href="http://autofun.carsmart.cn/about.html" data-toggle="modal" data-target="#myModal">关于我们</a>
						<a href="http://autofun.carsmart.cn/cont.html" data-toggle="modal" data-target="#myModal">联系我们</a>
						<a href="http://autofun.carsmart.cn/merchants.html" target="_blank">招商合作</a>
						<a href="http://autofun.carsmart.cn/law.html" data-toggle="modal" data-target="#myModal">法律声明</a>
						<a href="http://e.weibo.com/che08" target="_blank">官方微博</a>
					</div>

				</div>
			</footer>

			<!--页脚追加-->
			<footer class="footer-floor">
				<div class="container text-center">
					<p>Copyright © 2014 Beijing Carsmart Technology Co., Ltd. </p>
				</div>
			</footer>
		
		
	</body>

</html>