<div class="con2">
	<h3 class="text-center">北斗核心资质</h3>
	<hr>
	<h4 class="text-center">车网互联将北斗业务作为公司的核心战略，在北斗民用领域上积累了丰富的资源。 </h4>
	<div class="row">
		<div class="col-xs-12 col-lg-6">
			<img src="img/11.jpg" alt="" class="img-responsive img-rounded">
		</div>	
		<div class="col-xs-12 col-lg-6 aqpc">
			<div class="col-xs-12">
				<img src="img/aqpc.jpg" alt="" class="img-responsive img-center ">
			</div>
			<p class="p text-left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;车网互联是中国信息安全测评中心授权的注册信息安全认证培训机构，可以组织相关从事信息安全领域的企业和个人进行培训。公司主要针对北斗产业知识方面开展培训。 </p>
			<div class="col-xs-12">
				<img src="img/mytg.jpg" alt="" class="img-responsive img-center">
			</div>
			<p class="p">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“中国北斗民用推广应用联盟”由中国电子商会发起、工信部批准，于2013年4月17日正式成立，是首个针对北斗民用领域的社团组织。车网互联是电子商会授权的承办单位，负责联盟相关活动的开展。
			</p>
		</div>
	</div>
		<hr class="clearfix">
		<h3 class="text-center">北斗行业解决方案</h3>
		<hr>
		<h4 class="text-center ">
			公司自提供北斗服务以来，在智能公交、两客一危、警务安全
			<br>

		应急救援等诸多领域得到了广泛应用，进一步推动了北斗产业的发展。 
		</h4>
	<div class="row">
		<div class="col-sm-12 col-lg-4">
			<h3>商用车管理</h3>
			<p>商用车企业车联网服务平台将每一辆载重车作为一个信息源，利用汽车行驶记录仪及其它终端通过卫星通信手段连接到网络中，通过收集、处理并共享大量信息，实现车与车、车与路、车与交通网络、车与互联网之间互相联接，实现安全智能管理和服务。 </p>
			<p>
				<b>案例</b>:：
				中国重汽车联网应用、
				潍柴动力车联网应用 
			</p>
		</div>
				<div class="col-sm-12 col-lg-4">
			<h3>商用车管理</h3>
			<p>商用车企业车联网服务平台将每一辆载重车作为一个信息源，利用汽车行驶记录仪及其它终端通过卫星通信手段连接到网络中，通过收集、处理并共享大量信息，实现车与车、车与路、车与交通网络、车与互联网之间互相联接，实现安全智能管理和服务。 </p>
			<p>
				<b>案例</b>:：
				中国重汽车联网应用、
				潍柴动力车联网应用 
			</p>
		</div>
				<div class="col-sm-12 col-lg-4">
			<h3>商用车管理</h3>
			<p>商用车企业车联网服务平台将每一辆载重车作为一个信息源，利用汽车行驶记录仪及其它终端通过卫星通信手段连接到网络中，通过收集、处理并共享大量信息，实现车与车、车与路、车与交通网络、车与互联网之间互相联接，实现安全智能管理和服务。 </p>
			<p>
				<b>案例</b>:：
				中国重汽车联网应用、
				潍柴动力车联网应用 
			</p>
		</div>
				<div class="col-sm-12 col-lg-4">
			<h3>商用车管理</h3>
			<p>商用车企业车联网服务平台将每一辆载重车作为一个信息源，利用汽车行驶记录仪及其它终端通过卫星通信手段连接到网络中，通过收集、处理并共享大量信息，实现车与车、车与路、车与交通网络、车与互联网之间互相联接，实现安全智能管理和服务。 </p>
			<p>
				<b>案例</b>:：
				中国重汽车联网应用、
				潍柴动力车联网应用 
			</p>
		</div>
				<div class="col-sm-12 col-lg-4">
			<h3>商用车管理</h3>
			<p>商用车企业车联网服务平台将每一辆载重车作为一个信息源，利用汽车行驶记录仪及其它终端通过卫星通信手段连接到网络中，通过收集、处理并共享大量信息，实现车与车、车与路、车与交通网络、车与互联网之间互相联接，实现安全智能管理和服务。 </p>
			<p>
				<b>案例</b>:：
				中国重汽车联网应用、
				潍柴动力车联网应用 
			</p>
		</div>
				<div class="col-sm-12 col-lg-4">
			<h3>商用车管理</h3>
			<p>商用车企业车联网服务平台将每一辆载重车作为一个信息源，利用汽车行驶记录仪及其它终端通过卫星通信手段连接到网络中，通过收集、处理并共享大量信息，实现车与车、车与路、车与交通网络、车与互联网之间互相联接，实现安全智能管理和服务。 </p>
			<p>
				<b>案例</b>:：
				中国重汽车联网应用、
				潍柴动力车联网应用 
			</p>
		</div>
	</div>
</div>