<h3 class="text-center">汽车制造业</h3>
<hr>
<p class="p">CARSMART车联网整体解决方案能够为车厂<span>提供数据采集和分析能力</span>，帮助车厂全面监控车辆运行状态以及车主反馈信息，建立车厂、特约店和车主之间的紧密联系，创新服务体验，为车厂、特约店及车主带来新价值。 </p>
<br>
<br>
<img src="img/qczz.jpg" alt="" class="img-responsive">
<hr>
<h3 class="text-center">4S店方案</h3>
<hr>
<p   class="p">基于实时的车辆信息，让4S店全面了解所有客户车辆的基本信息、运行状况及历史记录，以便为客户提供快捷、准确、优质的服务。 </p>
<img src="img/qcxs.jpg" alt="" class="img-responsive">
<hr>
<h3 class="text-center">汽车租赁</h3>
<hr>
<p class="p">安装在车辆中的iOBD设备将汽车检测信息通过无线网络传递给租车管理平台。基于这些数据可以建立全面的车辆监控档案，不仅为租车公司提供了汽车租赁业务的管理工具，同时也为租车公司的客户提供工具和服务。 </p>
<img src="img/qczl.jpg" alt="" class="img-responsive">
<hr>
<h3 class="text-center">保险行业</h3>
<hr>
<img src="img/qcbx.jpg" alt="" class="img-responsive">
<hr>
<h3 class="text-center">物流行业</h3>
<hr>
<p class="p">通过物流骨干网建设，实现商贸企业、物流服务企业、工业生产企业、政府部门之间实时、可靠的信息交互，把分散在不同区域、实力较弱的单一物流企业紧密联系在一起，最大限度发挥网络的优势，实现信息共享，全网联动。 </p>
<div class="row icon">
	<div class="col-xs-6 col-sm-3">
		<h4>
			<span class="pe-7s-chat pe-2x pe-va">信息服务</span>
		</h4>
		<h4>
			<span class="pe-7s-chat pe-2x pe-va">信息服务</span>
		</h4>
		<h4>
			<span class="pe-7s-chat pe-2x pe-va">信息服务</span>
		</h4>
		<h4>
			<span class="pe-7s-chat pe-2x pe-va">信息服务</span>
		</h4>
		<h4>
			<span class="pe-7s-chat pe-2x pe-va">信息服务</span>
		</h4>
		<h4>
			<span class="pe-7s-chat pe-2x pe-va">信息服务</span>
		</h4>
		<h4>
			<span class="pe-7s-chat pe-2x pe-va">信息服务</span>
		</h4>
	</div>
</div>