<div class="con3">
  <div class="row">
     <h3 class="text-center">战略要点与重点产业</h3>
     <hr>
  	 <div class="col-lg-6"> 	 	
		<h4>智慧城市建设五个战略要点</h4>
		<ul>
              <li> 智慧城市的顶层设计与总体规划；</li>
              <li>基础框架的布设、融合、标准；</li>
              <li>生产、流通、分配、消费领域的数字化建设；</li>
              <li>全方位物联网、监测网、计量网建设；</li>
              <li>市政管理与家庭智能生活建设。</li>
        </ul>
  	 </div>
  	 <div class="col-lg-6">
  	    <h4>智慧城市七大重点产业</h4>
  	 	<div class="col-lg-6">
  	 		<ul>
                <li>能源和环境产业</li>
                <li>信息产业</li>
                <li>先进制造业</li>
                <li>医疗和生物产业</li>
                <li>智能交通产业</li>
              </ul>
  	 	</div>
  	 	<div class="col-lg-6">
  	 		<ul>
                <li>商务贸易产业</li>
                <li>航空航天产业</li>
              </ul>
  	 	</div>
  	 </div>
  </div>
	<hr>
	<h3 class="text-center">试车制造业</h3>
	<hr>
	<h4 class="text-center">智慧城市建设理念：市长的视野，企业的视角，百姓的感受 </h4>
	<p><b>智慧城市</b>：在城市规划、建设、管理、运行过程中，采用信息化、智慧化、人性化等手段推进城市创新和可持续发展<br>
          <b>智慧城市</b>：将使城市的生产方式、生活方式、交换方式、公共服务、政府决策、市政管理、社会民生七个方面产生巨大和深远的变革 
    </p>
     <br>
     <br>
     <br>
     <img class=" img-responsive img-center" src="img/zhcs.png">
</div>