<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>北京车网互联科技有限公司</title>
	<link rel="stylesheet" href="css/jquery.fullpage.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/sc.css">
	<script src="js/jquery-1.10.1.min.js"></script>
	<script src="js/jquery.fullpage.min.js"></script>
	<script src="js/jquery.easings.min.js"></script>
</head>
<body>
<div id="wrapper">
  <div class="nav">
  	   <div class="inner">
    	<img src="img/logo.png" alt="">
    	<span class="fa fa-bars"></span>
    </div>
  </div>
	<div class="section  section1 ">
	 <div class="bg">
	 	  <img src="img/section-tit.png" alt="  在您的身边的智能车辆管理专家" class="tit">
	 </div>
	</div>
	<div class="section section2">
	  <div class="top-wrap">
	  	<h2>
	  		<span>
	  			<span>智能管理体验</span>
	  		</span>
	  	</h2>
	  	<h3>
	  	     <img src="img/experience.png" alt="">
	  	     <span class="line"></span>
	  	</h3>
	  	<ul class="bottom_wrap">
	  	   <li>
	  	   	    <div class="icon"><span></span></div>
	  	   	    <p>Application for car</p>
	  	   	    <div>
	  	   	    	<span>
	  	   	    	     申请用车
	  	   	    	     <span class="line"></span>
	  	   	    	</span>
	  	   	    </div>
	  	   </li>  	 
	  	     <li>
	  	   	    <div class="icon"><span></span></div>
	  	   	    <p>Auto service</p>
	  	   	    <div>
	  	   	    	<span>
	  	   	    	   用车全流程监管
	  	   	    	     <span class="line"></span>
	  	   	    	</span>
	  	   	    </div>
	  	   </li>  	  
	  	    <li>
	  	   	    <div class="icon"><span></span></div>
	  	   	    <p>Examination</p>
	  	   	    <div>
	  	   	    	<span>
	  	   	    	   支持多级审批
	  	   	    	     <span class="line"></span>
	  	   	    	</span>
	  	   	    </div>
	  	   </li>  	  
	  	    <li>
	  	   	    <div class="icon"><span></span></div>
	  	   	    <p>Dispatch</p>
	  	   	    <div>
	  	   	    	<span>
	  	   	    	     快捷智能调度   
	  	   	    	</span>
	  	   	    	 <span class="line"></span>
	  	   	    </div>
	  	   </li>
	  	
	  	</ul>
	  </div>
	</div>
	<div class="section section3" data-anthor="page3">

	</div>
	<div class="section section4">
	  <div class="clear">
		   <div class="intro-wrap">
			   	<h3><img src="img/big-data.png" alt=""></h3>
			   	<h2>
			   		车联网大数据
			   		<span class="line"></span>
			   	</h2>
			   	<p>
			   		稳定安全、高易用、可弹性伸缩的计算、负载均衡、有多种网络连接经验
			   	</p>
	   </div>
	   <div class="img-wrap">
	   	     <img src="img/data-img1.jpg" alt="">
	   </div>
	 	<ul class="tab-wrap">
			   		<li><span class="cur"><</span>云服务</li>
			   		<li><span class=""><</span>大数据</li>
			   		<li><span class=""><</span>可视化</li>
	    </ul>
	  </div> 
	  <div class="tabs">
	  	 <a href="javascript:void;" class="prev"><</a>
	  	 <a href="javascript:void;" class="next">></a>
	  </div>
	</div>

	<div class="section section5">
	    <div class="inner">
	    	<h2>全局监控一览无余</h2>
	    	<h3>
	    	     <span>精准定位零误差</span><span>|</span>
	    	     <span>实时告警零延迟</span><span>|</span>
	    	     <span>动态跟踪零盲点</span>
	    	</h3>
	    	<img src="img/section-position.png" alt="">
	    </div>
	</div>

	<div class="section section6">
	  <h2>
	  	<img src="img/car-free.png" alt="">
	  </h2>
	  <div class="wrapper">
	  	 <div class="left-wrapper">
	  	 	<img src="img/phone1.png" alt="">
	  	 	<img src="img/phone2.png" alt="">
	  	 </div>
	  	 <div class="center-wrapper">
	  	 	<img src="img/phone3.png"alt="">
	  	 </div>
	  	 <div class="right-wrapper">
	  	 	<img src="img/phone4.png" alt="">
	  	 	<img src="img/phone5.png" alt="">
	  	 </div>
	  </div>
	</div>
	<div class="section section7">
	   <div>
	   	<img src="img/hardware.jpg" alt="">
	   </div>
	   <div>
	   	<img src="img/hardware-tit.png" alt="">
	   </div>
	</div>
	<div class="section section8">
         <ul class="wrapper">
         	<li>
         	   <h3><img src="img/composition.png" alt=""></h3>
         	   <h2>
         	   	产品组成
         	   	<span></span>
         	   </h2>
         	</li>
         	<li>
         		<div><img src="img/saas.png" alt=""></div>
         		<h3>开始全新车网体验版</h3>
         		<div>
         			<p>专业版账号<em>13300000006</em>密码<em>123456</em></p>
         			<p>轻量版账号<em>15600009999</em>密码<em>123456</em></p>
         		</div>
         		<a href="#">专业版</a><a href="#">轻量版</a>
         	</li>
         	<li>
         		<div>
         			<img src="img/android.jpg"/>
					<p>Android</p>
         		</div>
         		<div>
         			<img src="img/wechat.jpg"/>
				    <p>微信公众号</p>
         		</div>
         	</li>
         </ul>
         <ul class="wrapper2">
         	 <li>
         	 	<h2>定制化服务</h2>
         	 </li>
         	 <li><h3>为企业、行业，提供定制化问题解决方案</h3></li>
         	 <li>
         	 	<ul class="wrapper2_img">
         	 		<li>
         	 			<div></div>
         	 			<p>企业</p>
         	 		</li>
         	 		<li>
         	 			<div></div>
         	 			<p>交通能源</p>
         	 		</li>
         	 		<li>
         	 			<div></div>
         	 			<p>车辆</p>
         	 		</li>
         	 	</ul>
         	 </li>
         </ul>
	</div>
    <div class="section section9">
	     <div class="wrapper">
	     	<div class="left">
	     		<h3><img src="img/application.png" alt=""></h3>
	     		<h2>行业应用</h2>
	     	</div>
	     	<div class="right">
	     		两客一危管理、企业车队管理、公务车辆管理、校车车辆管理、融资租赁管理、警务车辆管理、救护车辆管理、物流车队管理、应急指挥管理、交通路况支持
	     	</div>
	     </div>
	     <div class="wrapper2">
	     	<div class="left">
	     	    <h3><img src="img/case.png" alt=""></h3>
	     		<h2>产品案例</h2>
	     	</div>
	     	<ul class="right">
	     		<li>
	     			<div><span></span></div>
	     			<p>微软Azure云端</p>
	     		</li>	
	     		<li>
	     			<div><span></span></div>
	     			<p>趣学车</p>
	     		</li>
	     		<li>
	     			<div><span></span></div>
	     			<p>北京北铃</p>
	     		</li>
	     		<li>
	     			<div><span></span></div>
	     			<p>北斗恒通(北京)</p>
	     		</li>
	     		<li>
	     			<div><span></span></div>
	     			<p>港能国际融资租赁</p>
	     		</li>
	     		<li>
	     			<div><span></span></div>
	     			<p>中国电建</p>
	     		</li>
	     		<li>
	     			<div><span></span></div>
	     			<p>中交一公局</p>
	     		</li>
	     	</ul>
	     </div>
	      <div class="footer-wrap">
				<div class="link">
					<span>车网互联旗下网站
					<a href="../../index.html" target="_blank">车网互联</a>
					<a href="" target="_blank">乐乘</a>
					<a href="" target="_blank">养车宝</a>
					<a href="" target="_blank">车店通</a></span>
					<span>北京车网互联科技有限公司广州分公司 版权所有 <a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备14046473号</a></span>
					<span>
						<a href="" target="_blank">关于我们</a>
						<a href="" target="_blank">联系我们</a>
						<a href="" target="_blank">法律声明</a>
						<a href="" target="_blank">官方微博</a></span>
					</span>
				</div>
				<p class="copyright">Copyright © 2014 Beijing Carsmart Technology Co., Ltd. </p>
		</div>
       
	</div>
</div>

<ul class="menu-list" >
	<li data-menuanchor="page1"><a href="#page1"></a></li>
	<li class="xian"></li>
	<li data-menuanchor="page2"><a href="#page2"></a></li>
	<li class="xian"></li>
	<li data-menuanchor="page3"><a href="#page3"></a></li>
	<li class="xian "></li>
	<li data-menuanchor="page4"><a href="#page4"></a></li>
	<li class="xian "></li>
	<li data-menuanchor="page5"><a href="#page5"></a></li>
	<li class="xian "></li>
	<li data-menuanchor="page6"><a href="#page6"></a></li>
	<li class="xian "></li>
	<li data-menuanchor="page7"><a href="#page7"></a></li>
	<li class="xian "></li>
	<li data-menuanchor="page8"><a href="#page8"></a></li>
	<li class="xian "></li>
	<li data-menuanchor="page9"><a href="#page9"></a></li>
</ul>
<ul id="menu" >
     <span class="close"></span>
	<li data-menuanchor="page1"><a href="#page1">首页</a></li>
	<li class="xian"></li>
	<li data-menuanchor="page2"><a href="#page2">智能管理</a></li>
	<li class="xian"></li>
	<li data-menuanchor="page3"><a href="#page3">数据维度</a></li>
	<li class="xian "></li>
	<li data-menuanchor="page4"><a href="#page4">大数据</a></li>
	<li class="xian "></li>
	<li data-menuanchor="page5"><a href="#page5">全局监控</a></li>
	<li class="xian "></li>
	<li data-menuanchor="page6"><a href="#page6">APP</a></li>
	<li class="xian "></li>
	<li data-menuanchor="page7"><a href="#page7">乐乘盒子</a></li>
	<li class="xian "></li>
	<li data-menuanchor="page8"><a href="#page8">产品组成</a></li>
	<li class="xian "></li>
	<li data-menuanchor="page9"><a href="#page9">产品案例</a></li>
</ul>
</body>
</html>
<script>
$(function(){
// 车联网大数据
var bigData = [
			{
				text:'稳定安全、高易用、可弹性伸缩的计算、负载均衡、有多种网络连接经验。',
				img:'img/data-img1.jpg'
			},
			{
				text:'基于车载OBD、TBOX及手机GPS等多渠道采集数据，海量数据实时分析、快速实现异步通信。',
				img:'img/data-img2.jpg'
			},
			{
				text:'用直观、多维、实时的方式展示和分析数据，全面激活企业内部数据。',
				img:'img/data-img3.jpg'
			}
		];

//全屏插件 JS fullpage.js
$('#wrapper').fullpage({
			// navigation: true,
			anchors: ['page1', 'page2', 'page3', 'page4','page5','page6','page7','page8','page9'],
					menu: '.menu-list',
					scrollOverflow:true,
					// 是否回顶部
					loopBottom:true,
					loopTop:true,
					css3:true,
});
        

        // 大数据页面效果实现
		$(".tab-wrap li").eq(0).css({"background":"rgba(93,156,236,0.9)",color:"#fff"})
		var index=0
		$(".tab-wrap li").click(function(){
			$(".tab-wrap li span").removeClass("cur")
			$(".tab-wrap li").css({"background":"",color:""})
			$(this).css({"background":"rgba(93,156,236,0.9)",color:"#fff"})
			$(this).find("span").eq(0).addClass("cur")
			$(".img-wrap").find("img").attr("src",bigData[$(this).index()].img)
			$(".intro-wrap p").html(bigData[$(this).index()].text)
			index=$(this).index()
		})
       $(".prev").click(function(){
       	    index--
       	    if(index==-1){
       	    	index=2
       	    }
       	  	$(".tab-wrap li span").removeClass("cur")
			$(".tab-wrap li").css({"background":"",color:""})
			$(".tab-wrap li").eq(index).css({"background":"rgba(93,156,236,0.9)",color:"#fff"})
	        $(".tab-wrap li").eq(index).find("span").eq(0).addClass("cur")
			$(".img-wrap").find("img").attr("src",bigData[index].img)
			$(".intro-wrap p").html(bigData[index].text)
       })    
         $(".next").click(function(){
       	    index++
       	    if(index==3){
       	    	index=0
       	    }
       	  	$(".tab-wrap li span").removeClass("cur")
			$(".tab-wrap li").css({"background":"",color:""})
			$(".tab-wrap li").eq(index).css({"background":"rgba(93,156,236,0.9)",color:"#fff"})
	        $(".tab-wrap li").eq(index).find("span").eq(0).addClass("cur")
			$(".img-wrap").find("img").attr("src",bigData[index].img)
			$(".intro-wrap p").html(bigData[index].text)
       })
         //显示隐藏的导航效果
    $(".fa-bars").click(function(){
    	  $("#menu").css("right","0")
    })
    $(".close").click(function(){
        $("#menu").css("right","-280px")
    })
})
</script>

</html>