<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>车网互联</title>
	<script src="js/jquery.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.css">
	<script src="js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/jjfa.css">
	<script src="js/angular-1.4.6.min.js"></script>
	<script src="js/angular-route.min.js"></script>
</head>
<body ng-app="app" ng-controller="ctrl">
	   <div class="navbar container navbar-default" role="navigation">
   	  <div class="navbar-header">
   	    <button class="navbar-toggle collapsed" data-target="#navbar-collapse" data-toggle="collapse">
   	         <span class="glyico n icon-bar"></span>
   	         <span class="glyicon icon-bar"></span>
   	         <span class="glyicon icon-bar"></span>
   	    </button>
   	  	<a class="navbar-brand" href="main.html"><img src="img/logo.png" alt=""></a>
   	  </div>



   	  <div class="collapse navbar-collapse" id="navbar-collapse">
   	  	 <ul class="nav navbar-nav">
   	  	 	<li><a href="../../index.html">首&nbsp;&nbsp;页</a></li>
   	  	 	<li class="dropdown">
   	  	 	     <a href="" class="dropdown-toggle" data-toggle="dropdown">产&nbsp;&nbsp;品</a>
   	  	 	     <ul class="dropdown-menu">
   	  	 	     	<li>
   	  	 	     		<b>个人产品:</b>
   	  	 	     	</li>
   	  	 	     	<li class="divdier"></li>
   	  	 	     	<li><a href="../lecheng_demo/lc_demo.html" target="_blank">乐乘</a></li>
   	  	 	     	<li><a href="../zhicheng_demo/zc_demo.html" target="_blank">智乘(即将发布)</a></li>
   	  	 	     	<li><a href="../fencheng_demo/fc_demo.html" target="_blank">纷乘</a></li>
   	  	 	     	<li>
   	  	 	     		<b>行业应用:</b>
   	  	 	     	</li>
   	  	 	     	<li class="divider">行业应用</li>
   	  	 	     	<li><a href="../shangcheng_demo/sc_demo.html">尚乘</a></li>
   	  	 	     	<li><a href="../chediantong_demo/cdt_demo.html">车店通</a></li>
   	  	 	     	<li>
   	  	 	     		<b>硬件产品:</b>
   	  	 	     	</li>
   	  	 	     	<li><a href="../lecheng_demo/lc_demo.htm">乐乘盒子</a></li>
   	  	 	     	<li><a href="../fencheng_demo/fc_demo.html">纷乘行车记录仪</a></li>
   	  	 	     </ul>
   	  	 	 </li>
   	  	 	<li class="active">
   	  	 	      <a>解决方案</a>
   	  	 	      <ul class="dropdown-menu #route">
   	  	 	     	<li><a href="#/business">行业解决方案</a></li>
   	  	 	     	<li><a href="#/application">北斗应用系统</a></li>
   	  	 	     	<li><a href="#/city">智慧城市建设</a></li>	   
   	  	 	     </ul>
   	  	 	</li>
   	  	 	<li class="dropdown">
   	  	 	    <a href="">新闻中心</a>
   	  	 	    <ul class="dropdown-menu">
   	  	 	    	<li><a href="../news_demo/news_demo.html">公司动态</a></li>
   	  	 	    	<li><a href="../news_demo/news_demo.html#/bbb">员工天地</a></li>
   	  	 	    	<li><a href="../news_demo/news_demo.html#/ccc">专题报道</a></li>
   	  	 	    </ul>
   	  	 	</li>
          <!-- ******************* -->
   	  	 	<li class=""><a href="../rencaizhaopin_demo/rczp_demo.html">人才招聘</a></li>
   	  	 	<li class="">
          <!-- ************* -->
   	  	 	    <a href="#">关于我们</a>
   	  	 	  	    <ul class="dropdown-menu">
   	  	 	    	<li><a href="../guanyuwomen_demo/gywm_demo.html">公司简介</a></li>
   	  	 	    	<li><a href="../guanyuwomen_demo/gywm_demo.html#/bbb">企业文化</a></li>
   	  	 	    	<li><a href="../guanyuwomen_demo/gywm_demo.html#/ccc">大事记</a></li>
   	  	 	    	<li><a href="../guanyuwomen_demo/gywm_demo.html#/ddd">资质&amp;荣誉</a></li>
   	  	 	    	<li><a href="../guanyuwomen_demo/gywm_demo.html#/eee">合作伙伴</a></li>
   	  	 	    </ul>
   	  	 	</li>
   	  	 </ul>
   	  	 <div class="btn-group navbar-right">
   	  	 	<a href="" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">网站导航<span class="caret"></span></a>
   	  	 	<ul class="dropdown-menu">
   	  	 		<li><a href="../../index.html">车网互联官网</a></li>
   	  	 		<li><a href="../lecheng_demo/lc_demo.html">乐乘</a></li>
   	  	 		<li><a href="../zhicheng_demo/zc_demo.html">智乘(即将发布)</a></li>
   	  	 		<li><a href="../fencheng_demo/fc_demo.html">纷乘</a></li>
   	  	 		<li><a href="../chediantong_demo/cdt_demo.html">车店通</a></li>
   	  	 	</ul>
   	  	 </div>
   	  </div>
   </div>
   <div>

   <div class="banner">
   	 <img src="img/default-bg.jpg" alt="">
   	 <div class="banner-nav">
   	 		<h1 class="pull-left">行业解决方案</h1>
   	 	   <ul class="nav nav-tabs">
   	 	   	   <li class="active"><a href="#/business">行业解决方案</a></li>
   	 	   	   <li><a href="#/application">行业解决方案</a></li>
   	 	   	   <li><a href="#/city">行业解决方案</a></li>
   	 	   </ul>
   	 </div>
   </div>
   <div class="container con">
       <div class=" col-md1-10 col-md-offset-1">
       <div class="col-lg-12">
       	  <ng-view></ng-view>
       </div>
		</div>
   	</div>
 </div>




 <footer class="footer t-4">
                	<div class="container text-center">
                		<div class="col-lg-4 col-xs-12">上市公司成员企业<a href="">北京车网互联科技有限公司</a></div>
                		<div class="col-lg-4 col-xs-12">上市公司成员企业<a href="">北京车网互联科技有限公司</a></div>
                		<div>
                		   <a href="">关于我们</a>
                		   <a href="">联系我们</a>
                		   <a href="">合作伙伴</a>
                		   <a href="">法律声明</a>
                		   <a href="">官方微博</a>
                		</div>
                	</div>
                </footer>
                <footer class="footer-floor text-center">
		                 <div class="container">
		                	<div class="col-xs-12 col-lg-4 "><a href="">京ICP备10024066号</a></div>
		                	<div class="col-xs-12 col-lg-4"><a href="">京公网安备 11010502033043号</a></div>
		                	<div class="col-xs-12 col-lg-4"><a href="">Copyright © 2014 Beijing Carsmart Technology Co., Ltd. </a></div>
		                  </div>
 </footer>
</body>
<script>
	/**
	* app Module
	*
	* Description
	*/

	// 单一页面的路由
	var app=angular.module('app', ["ngRoute"]).controller('ctrl', ['$scope', function($scope){
		$(".banner-nav .nav>li").click(function(){
			$(".banner-nav .nav>li").removeClass("active")
			$(this).addClass("active")
		})
		$(".navbar .active li").click(function(){
		       $(".banner-nav .nav>li").eq($(this).index()).addClass("active").siblings().removeClass("active")
		})
 
	}])
	app.config(['$routeProvider',function($routeProvider) {
		$routeProvider
		.when("/business",{
			templateUrl:"templates/business.html"
		})
        .when("/application",{
			templateUrl:"templates/application.html"
		})
		.when("/city",{
			templateUrl:"templates/city.html"
		}).otherwise("/business")

	}])
	
</script>
</html>